.users{
    padding: 0 5px;
}
.users__title{
    display: inline-block;
    border-bottom: 10px solid;
    border-image: url('./../../../public/redframe.png') 300 stretch stretch;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.users__show{
    width: 100%;
}
.users__btn{
    font-family: Anime, Arial;
    display: block;
    padding: 20px 30px;
    line-height: 15px;
    font-size: 20px;
    border: none;
    width: 250px;
    border-radius: 10px;
    background-color: chocolate;
    cursor: pointer;
    margin: 0 auto;
}