.dialog__item{
    min-height: 50px;
    text-align: center;
    border-bottom: 10px solid;
    border-image: url('./../../../../../public/redframe.png') 300 stretch stretch;
}
a.actives{
    color: #2D90F3;
}
.dialog__item:last-child{
    min-height: 50px;
    border: none;
}