*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    justify-content: center;
}
.App{
    width: 800px;
}
.post{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid green;
}