.about{
    border-right: 15px solid; 
    display: flex;
    padding-bottom: 40px;
    padding-left: 10px;
  }
  .about__text h2{
    margin-bottom: 20px;
    margin-top: 10px;
  }
 
  .user__imag{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }