.steps {
    font-size: 20px;
    font-family: Anime, Arial;
    letter-spacing: 20px;
    padding: 10px;
    padding-bottom: 30px;
    display: block;
    width: 400px;
    margin: 0 auto;
}

.steps span {
    cursor: pointer;
    padding: 10px;
}

.steps__current {
    font-weight: bold;
    border: 1px solid gray;
}