.nav{
    grid-area: nn;
    border: 15px solid;
    border-image: url('../../../public/klipartz2.png') 700 stretch stretch;
    margin-bottom: 5px;
    padding-top: 20px;
  }
  .nav li{
    border-bottom: 2px solid black;
    margin-bottom: 12px;
  }
  .nav li a.active{
    color: #E25753;
  }
  .nav li:has(a.active){
    border-bottom: 2px dotted #E25753;
  }