.nav {
  grid-area: nn;
}

.nav li {
  margin-bottom: 12px;
}

.nav li a.active {
  color: #E25753;
}

.nav li:has(a.active) {
  border-bottom: 2px dotted #E25753;
}
hr {
  background-color: #d6d9dd;
  border: none;
  height: 1px;
  width: 150px;
  margin: 0 auto;
}