.friends{
    grid-area: fr;
    border: 15px solid;
    border-image: url('../../../public/klipartz2.png') 700 stretch stretch;
    padding: 5px;
    height: 200px;
}

.friends__title{
    margin-bottom: 10px;
}
